header {
	position: absolute;
 	text-align: center;
 	background: #666666; /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#4B0A1E), to(#4B0A1E));
	color: #FFFFFF;
	top: 0px;
    left: 0px;
	height: 44px;
	right: 0px;
	border-bottom: solid 1px #444444;
}